<div class="icon-menu" *ngIf="archivedNote.isDeleted !== true">
  <mat-list-item>
    <button
      mat-icon-button
      matTooltip="Remind me"
      [matMenuTriggerFor]="appMenu"
    >
      <mat-icon class="icons">
        add_alert
      </mat-icon>
      <mat-menu #appMenu="matMenu">
        <div mat-menu-item>
          <div>
            <mat-icon matIcon>alarm</mat-icon>
            <input
              matInput
              [min]="min"
              [owlDateTime]="dt"
              [owlDateTimeTrigger]="dt"
              [(ngModel)]="dateTimeRange"
              (dateTimeInput)="callReminder(dateTimeRange)"
              placeholder="Pick date & time"
            />
            <owl-date-time #dt></owl-date-time>
          </div>
        </div>
      </mat-menu>
    </button>

    <button mat-icon-button matTooltip="Collaborator">
      <mat-icon class="icons">
        person_add_alt_1
      </mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Change color"
      [matMenuTriggerFor]="colorMenu"
    >
      <mat-icon class="icons">
        palette_outline
      </mat-icon>
      <mat-menu #colorMenu="matMenu">
        <div class="pop">
          <div *ngFor="let color of colors" class="colorButton">
            <button
              mat-mini-fab
              [style.background]="color?.code"
              [matTooltip]="color?.name"
              (click)="setColor(color.code)"
            ></button>
          </div>
        </div>
      </mat-menu>
    </button>

    <button mat-icon-button matTooltip="Add image">
      <mat-icon class="icons">
        insert_photo
      </mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Archive"
      *ngIf="archivedNote.isArchived !== true"
    >
      <mat-icon class="icons" (click)="archiveNote()">
        archive
      </mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="UnArchive"
      *ngIf="archivedNote.isArchived === true"
    >
      <mat-icon class="icons" (click)="unArchiveNote()">
        unarchive
      </mat-icon>
    </button>

    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="moreMenu">
      <mat-icon class="icons">
        more_vert
      </mat-icon>
      <mat-menu #moreMenu="matMenu">
        <div>
          <div mat-menu-item (click)="deleteNote()">
            Delete note
          </div>
        </div>
      </mat-menu>
    </button>
  </mat-list-item>
</div>

<app-trashicons
  *ngIf="archivedNote.isDeleted === true"
  (delete)="deleteNotePermanent()"
  (restore)="restoreNote()"
></app-trashicons>
