@import "../../scss/variables";
@import "src/app/scss/mixin.scss";

.inputTitle {
  @include font(medium, 500, 100%);
}
.description {
  @include font(small, 400, 100%);
  margin-bottom: 10px;
}

.description,
.inputTitle {
  width: 500px;
  overflow-y: hidden;
  resize: none;
  outline: none;
  border: 0;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: $bgcolor;
}
