.icons {
  margin-right: 40px;
  margin-top: 1em;
}
.titlearea {
  display: flex;
  flex-direction: row;
}
.inputTitle,
.description {
  font-size: small;
}

.description,
.inputTitle {
  width: 500px;
  overflow-y: hidden;
  resize: none;
  outline: none;
  border: 0;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: transparent;
}
