<mat-card [ngStyle]="{ 'background-color': data.note.color }">
  <div class="titlearea">
    <textarea
      class="inputTitle"
      [(ngModel)]="title"
      placeholder="Title"
      matTextareaAutosize
      matAutosizeMinRows="1"
      matAutosizeMaxRows="25"
      >{{ title }}</textarea
    >
    <button
      matSuffix
      mat-icon-button
      matTooltip="Pin note"
      matTooltipPosition="below"
      (click)="pinNote()"
      *ngIf="data.note.isPined === false"
    >
      <img src="../../../assets/imeges/pin-outline.svg" />
    </button>
    <button
      matSuffix
      mat-icon-button
      matTooltip="Unpin note"
      matTooltipPosition="below"
      (click)="unPinNote()"
      *ngIf="data.note.isPined === true"
    >
      <img src="../../../assets/imeges/pin.svg" />
    </button>
  </div>

  <div class="titlearea">
    <textarea
      class="description"
      [(ngModel)]="description"
      placeholder="Description"
      matTextareaAutosize
      matAutosizeMinRows="1"
      matAutosizeMaxRows="25"
      >{{ description }}</textarea
    >
  </div>
  <div class="icons" fxLayout="row" fxLayoutAlign="space-between end">
    <app-icons [archivedNote]="data.note"></app-icons>
    <button class="close" mat-button (click)="close()">Close</button>
  </div>
</mat-card>
