.icons {
  margin-right: 40px;
  margin-top: 1em;
  size: 30px;
}
.titlearea {
  display: flex;
  flex-direction: row;
}
.inputTitle {
  font-size: large;
  font-weight: 450;
}
.description {
  font-size: medium;
  font-weight: 400;
}

.description,
.inputTitle {
  width: 500px;
  overflow-y: hidden;
  resize: none;
  outline: none;
  border: 0;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: transparent;
}
.display {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 500px;
  max-height: 750px;
}
