.display mat-card {
  margin-top: 2em;
  margin-left: 8em;
  width: 400px;
  border-radius: 0.1em;
  border-color: gray;
  font-size: small;
  border: 0.1px inset gray;
}
.icons {
  margin-top: 1em;
}
