<div class="display" fxLayout="column wrap" fxLayoutGap="5px">
  <mat-card [ngStyle]="{ 'background-color': note.color }">
    <div class="title">{{ note.title }}</div>
    <div>
      <div>{{ note.description }}</div>
    </div>
    <div class="icons">
      <app-icons
        (color)="setColor($event)"
        [archivedNote]="note"
        (archive)="setArchive()"
        (unarchive)="setUnArchive()"
        (delete)="deleteNote()"
        (deletePermanent)="deleteNotePermanent()"
        (restorePermanent)="restoreNote()"
      ></app-icons>
    </div>
  </mat-card>
</div>
