@import "../notedialog/notedialog.component.scss";
@import "../../scss/variables";

mat-card {
  $fontSize: medium;

  margin-top: 1em;
  margin-left: 2em;
  width: 250px;
  border-radius: 0.5em;
  border-color: $bdcolor;
  font-size: $fontSize;
  border: 0.1px inset $bdcolor;
  margin-bottom: 20px;
}
