<div
  class="display"
  [ngClass]="{ 'card-list': open === true, card: open !== true }"
  fxLayout="row"
  fxLayoutGap="5px"
>
  <mat-card [ngStyle]="{ 'background-color': note.color }">
    <div class="titlearea">
      <textarea
        (click)="openNoteDialog()"
        class="inputTitle"
        matTextareaAutosize
        matAutosizeMinRows="1"
        matAutosizeMaxRows="25"
        readonly
        >{{ note.title }}</textarea
      >
      <button
        matSuffix
        mat-icon-button
        matTooltip="Pin note"
        matTooltipPosition="below"
        (click)="pinNote()"
        *ngIf="note.isPined === false"
      >
        <img src="../../../assets/imeges/pin-outline.svg" />
      </button>
      <button
        matSuffix
        mat-icon-button
        matTooltip="Unpin note"
        matTooltipPosition="below"
        (click)="unPinNote()"
        *ngIf="note.isPined === true"
      >
        <img src="../../../assets/imeges/pin.svg" />
      </button>
    </div>

    <div class="titlearea">
      <textarea
        (click)="openNoteDialog()"
        class="description"
        matTextareaAutosize
        matAutosizeMinRows="1"
        matAutosizeMaxRows="25"
        readonly
        >{{ note.description }}</textarea
      >
    </div>
    <div class="icons">
      <mat-chip-list>
        <mat-chip [removable]="removable" *ngIf="note?.reminder.length !== 0">
          {{ (note?.reminder)[0] | date: "MMM dd, hh:mm a" }}
          <mat-icon matChipRemove *ngIf="removable" (click)="deleteReminder()"
            >cancel</mat-icon
          >
        </mat-chip>
        <mat-chip *ngFor="let item of note.label"> {{ item.label }} </mat-chip>
      </mat-chip-list>
    </div>

    <div class="icons">
      <app-icons
        [archivedNote]="note"
        (color)="setColor($event)"
        (setReminder)="setReminder($event)"
        (archive)="setArchive()"
        (unarchive)="setUnArchive()"
        (delete)="deleteNote()"
        (deletePermanent)="deleteNotePermanent()"
        (restorePermanent)="restoreNote()"
        (label)="addLableToNote($event)"
        (collaborator)="openDialougeBox()"
      ></app-icons>
    </div>
  </mat-card>
</div>
