@import "../../scss/variables";
@import "../../scss/mixin.scss";
mat-card {
  @include dimension(none, 32em, 0.5em);
  @include font(small, none, none);
  margin-top: 2em;
  border-color: $bdcolor;
  border: 1px outset $bdcolor;
  .close {
    margin-left: 18em;
  }
}
