<div fxLayoutAlign="center center">
  <mat-card *ngIf="!isPopUp" (click)="openCard()">
    <div>
      <input
        autocomplete="off"
        autofocus
        matInput
        placeholder="Take a note.."
        type="text"
      />
    </div>
  </mat-card>
  <mat-card *ngIf="isPopUp">
    <div fxLayout="column" fxLayoutGap="5px">
      <div fxLayoutAlign="end start">
        <textarea
          matInput
          autofocus
          autocomplete="off"
          placeholder="Title"
          [(ngModel)]="title"
          matTextareaAutosize
          matAutosizeMinRows="1"
          matAutosizeMaxRows="25"
        ></textarea>

        <button
          matSuffix
          mat-icon-button
          matTooltip="Pin note"
          matTooltipPosition="below"
          (click)="pinNote()"
          *ngIf="!pined"
        >
          <img src="../../../assets/imeges/pin-outline.svg" />
        </button>
        <button
          matSuffix
          mat-icon-button
          matTooltip="Unpin note"
          matTooltipPosition="below"
          (click)="pinNote()"
          *ngIf="pined"
        >
          <img src="../../../assets/imeges/pin.svg" />
        </button>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div>
          <textarea
            matInput
            autofocus
            autocomplete="off"
            placeholder="Take a note..."
            [(ngModel)]="description"
            matTextareaAutosize
            matAutosizeMinRows="1"
            matAutosizeMaxRows="25"
          ></textarea>
        </div>
      </div>
      <div fxLayout="row">
        <app-icons [archivedNote]="noteArchive"></app-icons>
        <button class="close" mat-button (click)="openCard(); onClose()">
          Close
        </button>
      </div>
    </div>
  </mat-card>
</div>
