@import "src/app/scss/mixin.scss";

mat-card {
  margin-left: 5%;
  margin-right: 65em;
  @include dimension(45px, 40%, 5%);
  mat-form-field {
    width: 100%;
    margin-top: 1em;
    @include font(18px, medium, 60%);
  }
}
