<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button
      mat-icon-button
      matTooltip="Main menu"
      matTooltipPosition="below"
      (click)="drawer.toggle()"
      class="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div matTooltip="FundooNote" matTooltipPosition="below">
      <img
        fxLayoutAlign="space-start center"
        class="titleImage"
        src="../../../../assets/imeges/FundooNote.png"
      />
    </div>
    <div matTooltip="FundooNote" matTooltipPosition="below" class="fundooTitle">
      {{ title }}
    </div>
  </div>

  <app-searchbox></app-searchbox>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="list">
    <button
      mat-icon-button
      matTooltip="List View"
      matTooltipPosition="below"
      (click)="changeView()"
      *ngIf="grid"
    >
      <img src="../../../assets/imeges/view-agenda-outline.svg" />
    </button>
    <button
      mat-icon-button
      matTooltip="Grid View"
      matTooltipPosition="below"
      (click)="changeView()"
      *ngIf="!grid"
    >
      <img src="../../../assets/imeges/view-grid-outline.svg" />
    </button>
  </div>

  <div>
    <button
      mat-icon-button
      matTooltip="Profile"
      matTooltipPosition="below"
      [matMenuTriggerFor]="moreMenu"
    >
      <mat-icon>account_circle</mat-icon>
      <mat-menu #moreMenu="matMenu">
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-icon
            class="profileimg"
            fxLayout="column"
            fxLayoutAlign="start center"
          >
            <img
              fxLayout="column"
              fxLayoutAlign="center center"
              class="img"
              src="../../../assets/imeges/FundooNote.png"
            />
          </mat-icon>

          <h2>User Id</h2>
          {{ email }}

          <button mat-raised-button (click)="signOut()">
            Sign out
          </button>
        </div>
      </mat-menu>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav #drawer mode="side" opened>
    <mat-nav-list>
      <div routerLink="/dashboard/notes" routerLinkActive="notes">
        <mat-list-item>
          <mat-icon class="menu-item" mat-raised-button (click)="showInfo()"
            >lightbulb_outline
          </mat-icon>
          Notes
        </mat-list-item>
      </div>
      <div routerLink="/dashboard/reminder" routerLinkActive="notes">
        <mat-list-item>
          <mat-icon class="menu-item" mat-button (click)="showInfo()"
            >notifications_none</mat-icon
          >
          Reminders
        </mat-list-item>
      </div>
      <div routerLink="/dashboard/lable" routerLinkActive="notes">
        <mat-list-item>
          <mat-icon class="menu-item" mat-button (click)="showInfo()"
            ><img src="../../../assets/imeges/edit-black-24dp.svg" />
          </mat-icon>
          Edit labels
        </mat-list-item>
      </div>
      <div routerLink="/dashboard/archive" routerLinkActive="notes">
        <mat-list-item>
          <mat-icon class="menu-item" mat-button
            ><img src="../../../assets/imeges/outline-archive.svg" />
          </mat-icon>
          Archive
        </mat-list-item>
      </div>
      <div routerLink="/dashboard/trash" routerLinkActive="notes">
        <mat-list-item>
          <mat-icon class="menu-item" mat-button (click)="showInfo()"
            >delete_outline</mat-icon
          >
          Trash
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
</mat-sidenav-container>
