@import "src/app/scss/_variables.scss";
@import "src/app/scss/mixin.scss";

.mat-toolbar {
  background-color: $headerbg;
  .menu {
    margin-left: 2%;
  }
  .titleImage {
    height: 32px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .fundooTitle {
    @include font(110%, none, 50%);
  }
  .list {
    margin-right: 3%;
  }
}

.mat-sidenav-container {
  margin-top: 3.5%;
  background-color: $bgcolor;
  .mat-sidenav {
    @include font(0, 500, 100%);
    width: 17.5%;
    border: $bgcolor;
  }
  .mat-icon {
    margin-left: 4%;
    margin-right: 15%;
    background-color: $bgcolor;
  }
}
.profileimg {
  @include dimension(100px, 200px, 0px);
}
.img {
  @include dimension(100px, 100px, 100px);
}
